/* gray : #4B4B4D
   Red: #ED3237  */
   body {
    background: #fff;
    color: #4B4B4D;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    line-height: inherit;
    letter-spacing: .1px;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}
 .main_container{
  padding-top: 97px;
}
.row {
  margin: 0 -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding: 0 15px;
}
.col-7 {
  width: 50%;
}
/* Preloder Start */
.preloader
{   background-color:#f7f7f7;
    width:100%;height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999999;
    -webkit-transition:.6s;
    -o-transition:.6s;
    transition:.6s;
    margin:0 auto}
.preloader .preloader-circle{
    width:100px;
    height:100px;
    position:relative;
    border-style:solid;
    border-width:1px;
    border-top-color:#ff1f1f;
    border-bottom-color:black;
    border-left-color:#ff1f1f;
    border-right-color:black;
    z-index:10;
    border-radius:50%;
    -webkit-box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    background-color:#fff;
    -webkit-animation:zoom 2000ms infinite ease;
    animation:zoom 2000ms infinite ease;
    -webkit-transition:.6s;
    -o-transition:.6s;transition:.6s}
    .round_circle{
      width:700px;
    height:700px;
    position:absolute;
    border-style:solid;
    border-width:1px;
    border-top-color:#ff1f1f;
    border-bottom-color:black;
    border-left-color:#ff1f1f;
    border-right-color:black;
    z-index:10;
    border-radius:50%;
    -webkit-box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    background-color:transparent;
    -webkit-animation:zoom 2000ms infinite ease;
    animation:zoom 2000ms infinite ease;
    -webkit-transition:.6s;
    -o-transition:.6s;transition:.6s
    }
.preloader .preloader-circle2{
    border-top-color:#657588}
    .preloader .preloader-img{
        position:absolute;
        top:50%;
        z-index:200;
        left:0;
        right:0;
        margin:0 auto;
        text-align:center;
        display:inline-block;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        padding-top:6px;
        -webkit-transition:.6s;
        -o-transition:.6s;
        transition:.6s}
     .preloader .preloader-img img{max-width:55px;margin-left: 30%;}
    .preloader .pere-text strong{
        font-weight:800;color:#dca73a;text-transform:uppercase}
        @-webkit-keyframes zoom{
            0%{-webkit-transform:rotate(0deg);
                transform:rotate(0deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}
            100%{
                -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}}
        @keyframes zoom{
            0%{-webkit-transform:rotate(0deg);
                transform:rotate(0deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}
            100%{-webkit-transform:rotate(360deg);
                transform:rotate(360deg);-webkit-transition:.6s;-o-transition:.6s;transition:.6s}}


/* Preloder End */
/* Slider */

/* End Slider  */

#scroll-down-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-65%);
  z-index: 5;
}
#scroll-down-animation h2{
 color:#fff;
 font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;

}
.mouse {
  margin: 0 auto;
  display: block;
  /* border-radius: 50px; */
  /* border: 2px solid transparent; */
  height: 100px;
  width: 50px;
  position: relative;
  margin-top: -9%;
}

/* .move {
  position: absolute;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-50%,10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,80px);
    opacity: 0;
  }
} */
.move {
  margin: 0 auto;
  z-index: 5;
	width: 3px; height: 60px; position: absolute; bottom: 20px; left: 0; right: 0; margin: 0 auto; overflow: hidden; background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%); background-position: 0 -60px; background-size: 100% 200%; animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}
@keyframes scrolldown {
  0% { background-position: 0 -60px; }
  75% { background-position: 0 0; }
  100% { background-position: 0 60px; }
}
/* End Scroll To Explore */
/* About-Us Start */
#container_img {
  position: relative;
  font-family: Arial;
}
#container_img img{
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
}

.text-block {
  margin-top: 2%;
  position: absolute;
  color:#fff;
  text-align: center;
}
.text-block h1{
  font-family: 'soho-gothic-pro',Arial,sans-serif;
  font-size: 90px;
  /* font-size: 7vw; */
  /* font-weight: 300; */
  letter-spacing: 0;
  /* text-transform: none; */
  padding: 0 0;
  /* margin: 0 -72px -40px; */
  color: #c0c0c0;
}
.text-block h2{
  position: relative;
  z-index: 1;
  letter-spacing: 0.8em;
  font-family: 'soho-gothic-pro',Arial,sans-serif;
  color: #c0c0c0;
  margin-left: 2%;
}
#about-img{
    /* width: 100%; */
    height: 450px;
    position: relative;
}
#about-img img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}


.text-block p{
  position: absolute;
  z-index: 2;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  line-height: 2;
}
 /* For Mobile */
/*  */
/* About-Us End */
/* Why US */
.why-us{
    margin-top: 0%;
    width: 100%;
    height: 400px;
    background: -webkit-linear-gradient(315deg, #000, #5b666d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #000, #5b666d);
}
#why-us-top-slant{
    position: absolute;
    width: 100%;
    height: 250px;
}
#why-us-top-slant img{
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
#why-us-text{
    background-color: transparent;
    /* margin-top: -10%; */
}
#why-us-text h2{
    color: #a27b3e;
    font-size: 80px;
}
#why-us-text p{
  color:lightgoldenrodyellow;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
/* sustainability */
.wrapper{
  max-width: 1200px;
margin: auto;
width: 92%;
}
.slant_a_why_us{
  width: 100%;
  height: 715px;
  /* background-color: tomato; */
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.mobile_s_q_c{
  display: none;
}
.sustainability{
  width: 100%;
  height: 350px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e0e0, #81807f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e0e0, #81807f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* position: absolute; */
  /* margin-top: 39%; */
}
.sust_img{
  width: 50%;
  float: left;
  height: 190px;
  /* background-color: pink; */
  position: absolute;
  /* margin-top: -3%; */
}
.sust_img img{
  width: 100%;
  height: 350px;

}
.sust_slant_1{
  position: absolute;
  width: 38%;
  height: 15px;
  background: inherit;  /* fallback for old browsers */
}
.sust_slant_1::after{
  position: absolute;
  width: 38%;
  height: 100%;
  content: '';
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-125deg);
  margin-left:120%;
  margin-top: 43.5%;
}
.sust_slant_2{
  margin-top: 19.5%;
  position: absolute;
  width: 100%;
  height: 15px;
  background: inherit;  /* fallback for old browsers */

}
.sust_slant_2::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background:black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}

.sust_text{
  width: 50%;
  float: right;
  margin-top: 8%;
}
.sust_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  color: #23292c;
}
.sust_text p{
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: #23292c;
}
.quality{
  width: 100%;
  height: 350px;
  /* background: linear-gradient(#181c20,#363f44); */
  /* background: #363f44;  fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #000, #5b666d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #000, #5b666d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.qlity_img{
  width: 56%;
  float: right;
  height: 190px;
  /* background-color: pink; */
  /* position: absolute;
  margin-left: 44%; */
}
.qlity_img img{
  width: 100%;
  height: 350px;
}
.qlity_text{
  width: 50%;
  float: left;
  margin-top: -9%;
}
.qlity_text h2{
  text-align: center;
  font-size: 60px;
  margin-left: -6%;
  color:  #cfcccc;  /* Chrome 10-25, Safari 5.1-6 */
}
.qlity_text p{
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 2%; */
  font-size: 20px;
  color: #cfcccc;
}
.qlity_slant_1{
  position: absolute;
  width: 38%;
  height: 15px;
  background: inherit;
}
.qlity_slant_1::after{
  position: absolute;
  width: 38%;
  height: 100%;
  content: '';
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(125deg);
  margin-left:120%;
  margin-top: -10%;
}
#qlity_slant_2{
  margin-top: 13%;
}
/* .capacity_slant_2{
  margin-top: %;
} */
.capacity{
  width: 100%;
  height: 351px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e0e0, #81807f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e0e0, #81807f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* position: absolute;
  margin-top: 50%; */
}
.capacity_img{
width: 50%;
  float: left;
  height: 190px;
  /* background-color: pink; */
  position: absolute;
  /* margin-top: -3%; */
}
.capacity_img img{
  width: 100%;
  height: 350px;

}
.capacity_slant_2 img{
  margin-top: 11%;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#capacity_slant_1{
  margin-top: 21%;
}
.capacity_text{
  width: 50%;
  float: right;
  margin-top: 10%;
}
.capacity_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  color: #23292c;
}
.capacity_text p{
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: #23292c;
}
.exp_more_btn{
  display: block;
  padding: 15px;
  /* margin: 0 -15px 0; */
  margin-left: 35%;
  /* margin-top: -2%; */
  text-decoration: none !important;
}
.exp_more_text{
  position: relative;
  width: 50%;
  height: 40px;
  background-color: #00a4d0;
  background-image: linear-gradient(124.69deg, rgba(255, 255, 255, 0) 31.34%, rgba(255, 255, 255, 0.5) 49.95%, rgba(255, 255, 255, 0) 72.28%);
  background-size: 61px 100%;
  background-repeat: no-repeat;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  font-family: "Avenir LT", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease-out;
  animation-name: product-order-button-light;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
@-webkit-keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
.exp_more_text:hover{
  background-color: #a27b3e;
  color: #ffffff;
}
#exp_more_btn_id{
  margin-left: 30%;
}
.inquiry{
  width: 100%;
  height: 250px;
  background-color: transparent;
  position: relative;
}
.style_logo{
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 3%;
}
.style_logo img{
  width: 100%;
  height: 200px;
  margin-left: 0%;
}
/* .style_logo::after{
content: "";
background: url(../images/dont-trail-behind-bg.png);
width: 100%;
height: 87px;
position: absolute;
left: 0;
right: 0;
/* bottom: 30px;
} */
.inq_button{
position: relative;
-webkit-appearance: none;
padding: 0;
width: 244px;
border: none;
background: #A3060E;
border-radius: 19px;
font-family: "Avenir LT", sans-serif;
font-size: 18px;
line-height: 38px;
font-weight: 750;
text-transform: uppercase;
color: #fff;
transition: all 0.2s ease-out;
cursor: pointer;
margin: 90px auto 0;
text-align: center;
}
/* Why Us End */
/* For Mobile */
@media only screen and (max-width:500px) {
  .button_click{
    display: none !important;
  }
  #mbl_product_div{
    display: block !important;
  }
  #mbl_lptp_div{
    display: none !important;
  }
  #mbl_btn{
    display: block !important;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
    #why-us-top-slant img{
      height: 100px;
    }
    .why-us{
        height: 850px;
    }
    .vcenter img {
      height: 120px !important;
      width: 120px !important;
  }
  .vcenter {
    margin-top: 0% !important;
}
    .mobile_s_q_c{
      width: 100%;
      height: 597px;
      display: block;
      background-color: black;
    }
    .slant_a_why_us{
      display: none;
    }
    .gridlayout1 {
      margin: 30px 0 0 0;
      padding: 0;
      list-style: none;
      position: relative;
      width: 100%;
      margin-top: 0%;
    }
    .gridlayout1 .aligncenter {
        display: block;
        margin: 0 auto;
    }

    .gridlayout1 li {
      position: relative;
      float: left; list-style:none; margin:0;
      /*overflow: hidden;*/
      width: 33.3333333%; /* Fallback */
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
    }
    .gridlayout1 li p {
     margin:0;
    }

    .gridlayout1 li a,
    .gridlayout1 li a img {
      display: block;
      width: 100%;
      cursor: pointer;
    }





    /* Flexbox is used for centering the heading */
    .gridlayout1 li a div {
      position: absolute;
      left:0;
      top: 0;
      right:0;
      bottom:0;
      background: rgba(0,0,0,0.3);
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
        align-items: center;
        text-align: center;
        opacity: 0;	-webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .gridlayout1 li a:hover div {
      opacity: 1;
    }

    .gridlayout1 li a div h3 {
      width: 100%;
      color: #fff;
      font-size: 35px;
      padding: 0; margin:0;
    }

	.home .gridlayout1 li{width:auto;  /*margin:1px 0px;*/}
	.home .gridlayout1 li:last-child{/*margin:1px 0px 2px;*/}
	.gridlayout1 li {width: 100%;	}

	.businesstext h3 { margin:0 auto; text-align:center; width:90%;}

	ul.arrow-list { margin:0; padding:0;}

	.businness-navigator a { width:125px; float:left; margin:0 20px 20px 0;}

	.gridlayout1 li a div {opacity: 1;}
	.gridlayout2 li a div {opacity: 1;    background: rgba(0,0,0,0.5);}
	.gridlayout2 li a div h3 {
    font-size: 16px;
	font-weight:600;
}
.exp_more_btn_mobile{
  display: block;
  /* margin-top: -2%; */
  text-decoration: none !important;
}
.exp_more_text_mobile{
  position: relative;
  width: 80%;
  height: 40px;
  background-color: #00a4d0;
  background-image: linear-gradient(124.69deg, rgba(255, 255, 255, 0) 31.34%, rgba(255, 255, 255, 0.5) 49.95%, rgba(255, 255, 255, 0) 72.28%);
  background-size: 61px 100%;
  background-repeat: no-repeat;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  font-family: "Avenir LT", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  transition: all 0.3s ease-out;
  animation-name: product-order-button-light;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
@-webkit-keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
.exp_more_text_mobile:hover{
  background-color: #a27b3e;
  color: #ffffff;
}
#exp_more_btn_mobile_id{
  margin-left: 30%;
}
.explore_btn{
  margin-top: -20%;
margin-bottom: 7%;
width: 100%;
}
.atul-foundation{padding:60px 0 200px !important;}
.atul-foundation .text{display: none !important;}
.atul-foundation .title_products{font-size: 35px !important;}
.social-dimension{margin: -150px 0 -100px; padding: 60px 0 140px !important;}
.social-dimension .text{display: none !important;}
.social-dimension .title_btl{font-size: 35px !important;}
.enconomic-dimension{padding: 70px 0 150px !important;}
.enconomic-dimension .text{display: none !important;}
.enconomic-dimension .title_more{font-size: 35px !important;}
.environmental-dimension{padding: 70px 0 40px !important;}
.mobile_products{display: block !important;}
.businesswrapper{display: none;}
#knw_mr{margin-bottom: -30% !important;}
#tp_full{display: block !important;}
#tp_round{display: block !important;margin-left:5% !important;}
#tp_main{display: none;}
.slider, .slider > div{height: 300px !important;}
#slider_image img{height: 300px !important;}

  }
  /* For Tablet */
  @media only screen and (max-width:1024px )and (min-width:600px) {
    .atul-foundation{padding:60px 0 160px !important;}
.social-dimension{margin: -150px 0 -100px !important; padding: 60px 0 130px !important;}
.enconomic-dimension{padding: 70px 0 140px !important;}
.environmental-dimension{padding: 70px 0 40px !important;}
#discover_heading{font-size: 9vw !important;}
#secondry_heading{margin-top: 5.4% !important;}
.why-us{height: 580px !important;}
.exp_more_btn {
  margin-left: 14% !important;
  margin-right: 14% !important;
}
.exp_more_text{width: 100%;}
.sust_img img {
  height: 370px !important;}
.sustainability{height: 370px !important;}
.quality{margin-top: 48% !important;}
.capacity{margin-top: 93% !important;}
.capacity_slant_2 img {
  margin-top: 22% !important;}
.slant_a_why_us{height: 1120px;}
#about-data p{margin-top: 17% !important;}
.button_click #exp_more_btn_id {
  margin-left: 15% !important;
}
.slider, .slider > div{height: 300px !important;}
#slider_image img{height: 300px !important;}
}
  /* About-Us End */
  /* Whole */

.qlity_slant_1{
    position: absolute;
    width: 38%;
    height: 15px;
    background: inherit;
}
.qlity_slant_1::after{
    position: absolute;
    width: 38%;
    height: 100%;
    content: '';
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(125deg);
    margin-left:120%;
    margin-top: -10%;
}
#qlity_slant_2{
    margin-top: 13%;
}
/* .capacity_slant_2{
    margin-top: %;
} */


.Pharmaceutical{
  width: 100%;
  height: 388px;
  background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  margin-top: 60%;
}
.pharma_img{
width: 100%;
  /* float: left; */
  height: 440px;
  /* background-color: pink; */
  position: relative;
  margin-top: -4%;
}
.pharma_img img{
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.pharma_text{
  width: 100%;
  position: absolute;
  margin-top: -10%;
}
.pharma_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  margin-left: -6%;
  color: #fff;
}
.pharma_text p{
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: black;
}

#capacity_slant_1{
    margin-top: 21%;
}
.know_more_text{
    width: 100%;
    /* float: right; */
    position: absolute;
    margin-top: -15%;
}
.know_more_text h2{
    text-align: center;
    font-size: 60px;
    margin-top: -9%;
    color:#fff;
}
.know_more_text p{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
    color: black;
}
/* Products */
.atul-foundation {position:absolute;background: url(../images/atul-foundation.jpg) no-repeat center top; padding:140px 0 300px; background-size: cover; text-align:center; }
.atul-foundation .title_products { margin:0 auto 20px auto; padding:0; color:#fff; text-align:center; font-size:60px; line-height:30px;}
.atul-foundation .text { margin:0 auto 20px auto; padding:0; color: lightgoldenrodyellow;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 20%; text-align:center;}
.atul-foundation .link a { display:inline-block; margin:0 auto 20px auto; border:#fff 1px solid; color:#fff; text-align:center;  font-size:16px; line-height:16px; letter-spacing:1px; text-transform:uppercase; padding:9px 20px 6px 20px;}
.atul-foundation .link a:hover { background:#fff; color:#464646;  }
#mbl_btn{
  display: none;
}
.button_click #exp_more_btn_id{
  margin-left: 30%;
}
/* END Products */
/* Btl Basics */
.social-dimension {background: url(../images/social-dimension.png) no-repeat center top; padding:210px 0; background-size: cover; text-align:center; z-index:1; position:relative; }
.social-dimension .title_btl { margin:0 auto 20px auto; padding:0; color:#fff; text-align:center; font-size:60px; line-height:30px; }
.social-dimension .text { margin:0 auto 20px auto; padding:0; color: lightgoldenrodyellow;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 20%; text-align:center;}
.social-dimension .link a { display:inline-block; margin:0 auto 20px auto; border:#fff 1px solid; color:#fff; text-align:center;  font-size:16px; line-height:16px; letter-spacing:1px; text-transform:uppercase; padding:9px 20px 6px 20px;}
.social-dimension .link a:hover { background:#fff; color:#464646;}
/* End Btl Basics */
/* Know_more */
.enconomic-dimension {background: url(../images/enconomic-dimension.png) no-repeat center top; padding:220px 0; background-size: cover; text-align:center; z-index:1; position:relative; }
.enconomic-dimension .title_more { margin:0 auto 20px auto; padding:0; color:#ffffff; text-align:center; font-size:60px; line-height:30px; }
.enconomic-dimension .text { margin:0 auto 20px auto; padding:0; color: lightgoldenrodyellow;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 4%;
  margin-right: 20%; text-align:center;}
.enconomic-dimension .link a { display:inline-block; margin:0 auto 20px auto; border:#fff 1px solid; color:#fff; text-align:center;  font-size:16px; line-height:16px; letter-spacing:1px; text-transform:uppercase; padding:9px 20px 6px 20px;}
.enconomic-dimension .link a:hover { background:#fff; color:#464646;}

/* End Know More */
.container-fluid{
  background-color: black;
  height: 250px;
}
.container-fluid h1{
  text-align: center;
  padding-top: 7%;
  color: #fff;
}
/* About-Us Page */
.bi-highlights { background: url(../images/ab-p-back.jpg) no-repeat center top; padding:50px 0; background-size: cover; text-align:center; }
.bi-highlights .title { margin:0 auto 20px auto; padding:0; color:#464646; text-align:center; font-size:30px; line-height:30px;}
.bi-highlights .text { margin:0 auto 20px auto; padding:0; font-size:22px; line-height:20px; color:#464646; text-align:center;}
.bi-highlights p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: #23292c;
}
#vision{
  width: 100%;
  height: 450px;
}
/* #vision_img{
  width: 50%;
  float: left;
} */
#vision_img img{
  width: 50%;
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 8%;
  margin-top: -8%;
}
#vision_text p,#vision_text h2{
   margin-left: -15%;
  margin-right: 10%;
  margin-top: -3%;
  font-size: 26px;
  color: #23292c;
}
/* #left_quote{
  margin-left: -8% !important;
  font-size: 75px;
} */
#mission{
  width: 100%;
  height: 350px;
}
#mission_img{
  width: 50%;
  float: right;
}
#mission_img img{
  margin-top: -20%;
  margin-left: 30%;
  width: 50%;
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#mission_text p{
  margin-left: 12%;
  margin-right: -12%;
  margin-top: 3%;
  font-size: 26px;
  color: #23292c;
}

/* About-us Page End */
/* Bottle Basics Start */
.bottle_basics{
  padding: 80px 0;
  background-image: url(../images/about/bg-bottle_basics.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-size: 100%;
}
.bottle_basics_inner{
  padding: 0 205px 0 144px;
  background-repeat: no-repeat;
  background-size: 94%;
  background-position: center center;
  max-width: 920px;
  margin: 0 auto;
}
.bottle_basics h2{
  line-height: 1.8;
  font-size: 20px;
  font-weight: bold;
}
.mobile{
  display: none !important;
}
.red {
  color: #e61c42;
}
#content .section {
  margin-top:60px;
  margin-bottom:60px
 }
 .btl_basics_text{
   padding-right: 0px !important;
 }
 .btl_basics_text p{
  font-size: 20px !important;
  line-height: 1.9 !important;
  margin-top: 6% !important;
 }
 #data-image{
   height: 550px;
   width: 100%;
 }
 .btl_basics_btm_containt{
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 4%;
 }
 .btl_basics_btm_containt p{
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 1%;
 }
/* Bottle Basics End */
/* Whatsapp & Call */
.hdwatsp{position: fixed;bottom: 10px;right: 10px;z-index:21/*top: 2px!important;position: absolute !important;left: 0;right: 0;margin: 0 auto;width: 100%;text-align: center;*/}
.hdwatsp a{text-align: center;width: 45px;height: 45px;float: left;color: #FFFFFF;border-radius: 10px;background-color: #ee141f;}
.hdwatsp a.wh{background-color: #25D366;}
.hdwatsp a.wh i{font-size: 32px;margin-top: 15%;}
.hdwatsp i{font-size: 35px;margin-top: 16%;}
.leftsp{margin-left:7px}

#myBtn {
  display: none; /* Hidden by default */
 cursor: pointer;
    position: fixed;
    z-index: 10000;
    right: 15px;
    bottom: 65px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 40px;
    height: 40px;
    color: rgb(249, 249, 249);
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    padding: 8px
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* End */
/* Products Section */
.businesswrapper { background:#373435;}

.businessrow1 { background:#f4ebdd;}
.businessrow2 { background:#f4ebdd;}

.businessrow1 .businessleft { width:640px; float:left;}
.businessrow1 .businessright { width:560px; float:right;}

.businessrow2 .businessleft { width:560px; float:left;}
.businessrow2 .businessright { width:640px; float:right;}

.businesstext { width:67%; margin:0 auto; padding:90px 0 0 0; text-align:center;}
.businesstext.polymer_ratail{ width:67%; margin:0 auto; padding:50px 0 0 0; text-align:center;}
.businesstext.popm { width:67%; margin:0 auto; padding: 40px 0 0 0; text-align:center;}
.businesstext h2 { color:#FEFEFE;font-size:30px; line-height:30px; margin:0 auto; padding:0 0 20px 0; text-align:center;}
.businesstext h3 { font-size:16px; line-height:26px; margin:0 auto; padding:0 0 20px 0;  text-align: justify;}


.businessimg .aligncenter {
    display: block;
    margin: 0 auto; width:100%;
}
.businessimg img {
    width:100%;
}
/* .businesstext .link a { display:inline-block; border:#8da79d 1px solid; background:transparent; color:#8da79d; padding:9px 15px 6px 15px; font-size:14px; line-height:16px; letter-spacing:1px; text-transform:uppercase;}
.businesstext .link a:hover { background:#8da79d; border:#8da79d 1px solid; color:#fff;  } */


.galleria-image-nav-right { opacity:1!important;}
.galleria-image-nav-left { opacity:1!important;}

.businessrow3 .businessleft { width:53.5%; float:left;}
.businessrow3 .businessright { width:46%; float:right; margin-top: 3%;}

.businessrow4 .businessleft { width:46%; float:left; margin-top: 3%;}
.businessrow4 .businessright { width:53.5%; float:right;}

.hdpe-main { background: url(../images/Products/2.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.pet-main { background: url(../images/Products/4.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.bulk-main { background: url(../images/Products/1.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.c_c-main { background: url(../images/Products/3.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }

.csl-hd-main { background: url(../images/p_csl_hd.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.srv-hd-main { background: url(../images/p_srv_hd.png) no-repeat left top; background-size: cover; text-align:center; min-height:390px; }
.shl-hd-main { background: url(../images/p_shl_hd.png) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.floras-main { background: url(../images/flora_business_page.jpg) no-repeat left top; background-size: cover;  text-align:center; min-height:390px; }
.uni-hd-main { background: url(../images/p_uni_hd.png) no-repeat left top; background-size: cover; text-align:center; min-height:390px; }
.cp-brands-main { background: url(../images/cp-brands-main.jpg) no-repeat right top; background-size: cover;  text-align:center; min-height:390px; }
.pharma-main { background: url(../images/pharma-main.jpg) no-repeat right top;  background-size: cover; text-align:center; min-height:390px; }
.polymer-performance-main { background: url(../images/polymer-performance-main.jpg) no-repeat left top; background-size: cover; text-align:center; min-height:390px; }
.polymer-retail-main { background: url(../images/polymer-retail-main.jpg) no-repeat right top;  background-size: cover; text-align:center; min-height:390px; }
.row{margin-right: 0px !important;
  margin-left: 0px !important;}
/* End Products Section  */
/* START PRODUCTS */
.cols{
  margin-right: 2%;
  margin-top: 2%;
}
.cols h1{
  font-size: 50px;
font-weight: 700;
background-image: linear-gradient(to right bottom, #b20000, #cc0000, #cc0000, #b20000, #cc0000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.cols h3{
  color: #757575;
text-align: right;
font-size: 20px;
font-weight: 600;
}
/* END PRODUCTS  */
/* Know More */
form{
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
}
/* END KNOW MORE */
/* Sustainability page */
#sustain_page{
  margin-top: 5%;
  margin-bottom: 5%;
}
#plastic_soul{
  margin-top: 2%;
}
.title-box{
  text-align: center;
}
#sustain_img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sustain_img p{
  text-align: center;
}
/* End Sustainability page */
.featuredimagewrapper h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  top: 45%;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}
.featuredimagewrapper {
  position: relative;
  height: 250px;
}
.featuredimage img{
  width: 100%;
  height: 250px;
}
#list_grp_item{
  border: none !important;
  background-color: #4B4B4D;
  color: #fff;
}
.list-group-item{
  padding: 0.35rem 2.25rem !important;
}
.card-header{
  padding-left: 2.25rem !important;
  text-decoration: none !important;
  color: #373435;
}